body {
  background-color: #FFEEC0;
  font-family: 'Merriweather', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #070451;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 200;
}
h4 {
  font-size: 1.35em;
  font-weight: 200;
}

a {
  color: #088A7A;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #85730F;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #85730F;
}
a:active { /* selected link */
  color: #3F13AB;
}

img {
  width: 100%;
}

a {/* element selector */
  color: brown;
}

#my-blossom {/* id selector */
  color: #088A7A;
}

.blossom {/* class selector */
  color: #C7603A;
}

a {/* element selector */
  color: brown;
}

#my-note {/* id selector */
  color: #088A7A;
}

.note {/* class selector */
  color: #C7603A;
}

a {/* element selector */
  color: brown;
}

#my-study {/* id selector */
  color: #088A7A;
}

.study {/* class selector */
  color: #C7603A;
}

a {/* element selector */
  color: brown;
}

#my-recipe {/* id selector */
  color: #088A7A;
}

.recipe {/* class selector */
  color: #C7603A;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #070451;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid #85730F; /* width of the border, type, color */
  transition: 0.5s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: #070451;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #85730F;
}

.button.contact:hover {
  background-color: transparent;
  color: #070451;
  border: 2px solid #070451;
}

.button.readmore {
  background-color: transparent;
  color: #070451;
  text-transform: lowercase;
  border: 2px solid #070451;
}
