header {
  text-align: center;
  background-color: #0FCBBF;
padding: 20px 0 13px;
 margin: 10px;
 padding-top: 10px;
padding-right: 5px;
padding-bottom: 15px;
padding-left: 5px;
border-radius: 10px;
}

body {
  background-color: #F5D9B0;
font-family: 'Merriweather', serif;
font-size: 18px;
/* Sets the font size to 16px */
font-weight: 300;
/* Sets the font weight to 300 */
line-height: 1.6;
/* Sets the line-height to 1.6 * the font-size */
color: #000000;
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
}

h1 {
	font-size: 2.75em;
	font-weight: 700;
  text-align: center;
}

h2 {
	font-size: 2.25em;
	font-weight: 300;
}

h3 {
	font-size: 1.75em;
	font-weight: 200;
}

h4 {
	font-size: 1.35em;
	font-weight: 200;
}

a {
	color: #0DA59B;
	text-decoration: none;
	/* No underlining */
}

a:hover {
	color: #C7603A;
	text-decoration: underline;
	/* Underlining when hovering over a link */
}

a:visited {
	/* visited link */
	color: #C7603A;
}

a:active {
	/* selected link */
	color: #3F13AB;
}

img {
	width: 100%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.container {
  padding: 0 15px;
}

.logo {
  max-width: 250px;
  text-align: center;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero h2 {
  text-align: center; /* Centers text */
}

#hero {
  text-align: center;
  background-color: #ffe4c4;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#footer {
  background-color: #ffe4c4;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
    padding: 10px 0;
}




@keyframes color-change {
  0% {fill: #0FCBBF;}
  50% {fill: #fcffad;}
  75% {fill: #2db625;}
  100% {fill: ##b66425;}
}

.sun {
  animation-duration: 8s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: infinite;
  animation-timing-function: ease-in;
}

@keyframes cloud-move {
  from {transform: translate(10px,50px);}
  to {transform: translate(100px,50px);}
}

.cloud-front {
  animation-name: color-change;
animation-duration: 20s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,38px);}
  to {transform: translate(100px, 38px);}
}

.cloud-back {
  animation: 20s cloud-move-reverse infinite alternate ease-in;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

#about-page h3 { margin-top: 0;}

/* Layout styling */

.container {
  border-radius: 10px;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #095B56;
}
